{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create New Poll</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="page-title">Create New Poll</h1>
        
        <form method="post" class="create-form">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="id_question_text">Question</label>
                {{ form.question_text }}
            </div>
            
            {{ choice_formset.management_form }}
            
            {% for choice_form in choice_formset %}
            <div class="form-group">
                <label>Choice {{ forloop.counter }} </label>
                {{ choice_form.choice_text }}
            </div>
            {% endfor %}
            
            <div class="form-buttons">
                <button type="submit" class="btn">Create Poll</button>
                <a href="{% url 'polls:index' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>
